<h1>Chat Room</h1>

<ul>
  <% @messages.each do |message| %>
    <li><%= message.content %></li>
  <% end %>
</ul>

<ul id="add"></ul>

<input type="text", class="chat-input", autofocus>
<button class="button">送信</button>
<input type="hidden" class="room_id" value="<%= @room.id %>">